body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
}
h1{
   font-size: 2.5rem;
}
.head-title{
   color: orange;
   font-weight: 900;
}
.container{
   display: flex;
   justify-content: space-between;
   padding: 6% 10%;
}
#header-section{
   background-image: url(images/header-bg.png);
   background-repeat: no-repeat;
   background-size: cover;

}
.hw{
   width: 45%;
   height: 600px;

}
.hw img{
   width: 100%;
}
.link-btn{
   background-color: #00DBDE;
   background-image: linear-gradient(225deg, #00DBDE 0%, #FC00FF 100%);
   text-decoration: none;
   text-transform: uppercase;
   padding: 0.625rem 1.5625rem;
   color: white;
   border-radius: 5px;
}
/* Dream Section */
#dream-section{
   background-image: url(images/biography-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}
/* Work Section */
#work-section h{
   background-image: url(images/latest-work-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
#work-section h1{
   text-align: center;
   font-size: 3rem;
   padding-top: 5%;
}
.work-item{
   width: 30%;
   margin-left: 1%;
   
}
.work-item img{
   width: 100%;
}
/* Review Section */
#review-section {
   background-image: url(/images/footer-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
   padding-bottom: 15%;
}
.review-title{
   font-size: 3.125rem;
   padding-bottom: 1%;
}
.footer-content{
   padding: 0 10%;
}
.footer-content h2{
   font-size: 2.5rem;
}
.footer-content h5{
   font-size: 1.5rem;
   color: gray;
}
.footer-content p{
   width: 60%;
   margin: 0 auto;
   padding-bottom: 4%;
}

.mail-btn{
   background-color: #7eaffb;
   background-image: linear-gradient(62deg, #7eaffb 0%, #f7686a 100%);
   width: 50%;
   height: 150px;
   margin: 0 auto;
   color: white;
   line-height: 35px;
   border-radius: 5px;
}
.mail-btn p{
   padding-top: 5%;
}
.mail-btn span{
   font-size: 1.5rem;
   padding-top: 5%;
}

/* Footer Section */
.footer-section {
   text-align: center;
   background-color: #F8F9FD;
   height: 80px;
   line-height: 85px;
   font-size: 1.5rem;
}